@page
@model SeniorProjectWebApplication.Pages.Measurements.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Measurement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Measurement.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Measurement.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Measurement.SessionNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Measurement.SessionNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Measurement.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Measurement.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Measurement.Pressure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Measurement.Pressure)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Measurement.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
